body{
    height: 100%;
    width: 100%;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.mx-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mx-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.px-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

nav div {
    cursor: pointer;
    padding: 8px;
}

nav {
    background-color: rgb(255, 141, 47);
    color: black;
    padding: 8px;
}

nav a {
    text-decoration: none;
    color: black;
}

.flex-col {
    flex-direction: column;
}

.flex-gap-20 {
    gap: 20px;
}

.align-items-start{
    align-items: start;
}

.padding-sm{
    padding: 10px;
}

.text-align-left {
    text-align: left;
}

.flex-gap-10{
    gap: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 20px auto;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.nav-image {
    background-color: white;
}

.nav-image img {
    width: 300px;
    height: 100px;
}

.home-img {
    height: auto;
}

.home-img img {
    width: 330px;
    height: 75vh;
}

ul li{
    list-style-type: disc;
}

.d-grid {
    display: grid;
}

.grid-gap-10 {
    grid-gap: 10px;
}

.grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.frames{
    border: 2px solid black;
    position: relative
}

.modal{
    position: fixed; 
    top: 50%;
    left: 50%;
    background-color: white;
    z-index: 10;
    border-radius: 8px;
    border: 2px solid black;
    width: 83vw;
    max-width: 400px;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    padding: 10px;
}

@media screen and (max-width: 380px) {
    .nav-image img {
        width: 170px;
        height: 100px;
    }
}